<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (!string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()))
    {
        <title>@ViewData["Title"] - Silicon</title>
    }
    else
    {
        <title>Silicon</title>
    }

    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>

<div class="wrapper">
        <header>
            <div class="container">
                <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/silicon-logo-light_theme.svg" alt="Logotype for Silicon"></a>

                <div id="menu">
                    <nav>
                        <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                        <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                        <a class="menu-link" href="#contact.html">Contact</a>
                    </nav>
                </div>

                <div class="btn-switch">
                    <label>Light</label>
                    <label class="switch" for="switch-mode">
                        <input type="checkbox" id="switch-mode" />
                        <span class="slider round"></span>
                    </label>
                    <label>Dark</label>
                </div>

                <div class="account-buttons">
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"> <i class="fa-regular fa-right-to-bracket"></i><span>Sign in</span></a>
                    <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
                </div>


            </div>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="container">
                <div class="@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Auth") ? "d-none" : "social-media")">
                    <a class="btn-social" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <p class="text-s"><strong>@DateTime.Now.Year Silicon. All rights reserved.</strong> Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
            </div>
        </footer>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

                @*
                    /*
Denna HTML-sida är uppbyggd med flera viktiga delar för en webbplats som erbjuder en digital tjänst eller produkt, såsom en uppgiftshanteringstjänst:

1. <head>-sektionen innehåller metadata, inklusive teckenkodning, vyportsinställningar för responsiv design, sidans titel som dynamiskt anpassas baserat på en variabel 'Title', och länkar till externa stilar och skript för att formge och ge funktionalitet till sidan.

2. <body>-delen innehåller webbplatsens huvudinnehåll och är indelad i tre huvudsektioner: header, main och footer.

   - Header: Visar logotypen och en navigationsmeny som låter användare navigera till olika delar av webbplatsen. Det finns även en omkopplare för att byta mellan ljust och mörkt läge, samt knappar för att logga in och registrera sig.

   - Main: Här renderas huvudinnehållet på sidan som sätts in via @RenderBody(). Detta är platsen där specifikt innehåll för varje sida på webbplatsen visas, beroende på vilken länk användaren klickar på i navigationsmenyn.

   - Footer: Innehåller länkar till sociala medier, en copyright-notis med en liten beskrivning av webbplatsen eller företaget, och kan också innehålla länkar till andra sidor som användarvillkor eller kontaktsidor.

3. Sist i <body> finns skriptreferenser som inkluderar Bootstrap för stil och komponentfunktionalitet samt en länk till webbplatsens egna JavaScript-filer för anpassade beteenden eller interaktivitet.

Den här strukturen ger en solid grund för en modern, responsiv och interaktiv webbplats.
*/

                *@